extends layout 

block content 
    nav.nav
        a(href='/')
            span &larr;
            |  Back

    h1= `Server Error` 
    h2= `Error status code: ${err.status} - Server Error`
    h2=  err.message