extends layout 

block content 
    h1 There was a problem with the server 
    h2= err.status 
    nav.nav
      a(href='/')
        span &larr;
        |  Back
    h2= err.stack
    h2= err.message 

    

