extends layout.pug

block content

  article.portfolio-intro

    h1 Let's create the next big thing together! 
    p Below you can see the work I've done, test it for yourself and check out the code with the Live Demo and GitHub Repo buttons!

  article.portfolio-project-thumbs
    .projects-box.box.grid 
      each project in projects 
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name 

