<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/ECstyles.css')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/images/headshot.jpg', alt='')
        .dev-intro-box

          h5 James Fleming

          p Thank you for being here! This is my portfolio where you can find all of my work. I come from a marketing background and found my passion for web dev through working with development teams in different projects. It has been quite the journey and I have come a long way with my abilities. My mission is to become the best full stack developer I can possibly be! I'd love to work towards this goal with your company so please, feel free to look around and don't hesitate to reach out if you have any questions!

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span James Fleming

      block content

  script(src='/js/script.js')