extends layout 

block content 
    h1 Uh oh, it looks like this page doesn't exist! 
    h2= err.status
    nav.nav
      a(href='/')
        span &larr;
        |  Back 
    h2= err.stack 
    h2= err.message